<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor de clientes</h1>
      <div>

      <div>
        <button on-click="obtenerClientes" type="button" name="button" class="btn btn-success">Obtener Clientes</button>
      </div>
      <div class="row">
      <!--  <table class="table table-hover">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>[[item.CustomerID]]</td>
                <td>[[item.ContactName]]</td>
                <td>[[item.CompanyName]]</td>
              </tr>
            </template>
          </tbody>
        </table>*-->
        <table class="table table-hover">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>[[item.idcliente]]</td>
                <td>[[item.nombre]]</td>
                <td>[[item.apellido]]</td>
              </tr>
            </template>
          </tbody>
        </table>

      </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      /*obtenerClientes() {
        var request = new XMLHttpRequest();
        request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        //console.table(this.clientes);
      }
    }*/
    obtenerClientes() {
      var request = new XMLHttpRequest();
      request.open("GET", "http://localhost:3002/Clientes", false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.clientes = JSON.parse(request.responseText);
      //console.table(this.clientes);
    }
  }



    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
